*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
/* .greeting{
    color: goldenrod;
} */
/* .fancyBorder{
    border:2px solid;
}
.fancyBorder-blue{
    border-color: blue;
}
:global(.Dialog-title){
    font-size: 18px;
    color: blue;
}
:global(.Dialog-message){
    font-size: 18px;
    color:red;
} */