*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
/* .greeting{
    color: goldenrod;
} */
/* .fancyBorder{
    border:2px solid;
}
.fancyBorder-blue{
    border-color: blue;
}
:global(.Dialog-title){
    font-size: 18px;
    color: blue;
}
:global(.Dialog-message){
    font-size: 18px;
    color:red;
} */

/* #app-root {
    height: 10em;
    width: 10em;
    background: lightblue;
    overflow: hidden;
  }
  
  #modal-root {
    position: relative;
    z-index: 999;
  }
  
  .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
   /* #root{
   } */
   .Chosen-select {
    width: 150px;
  }